:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --bg-white-color: #ffffff;
    --primary-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
}

body {
    background-color: var(--background-white-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Section */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* Header */

.logo {
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo > .accent {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts .link {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--accent-color);
}

/* Section Hero */

.hero {
    background-color: var(--primary-bg-color);
}

.hero .title {
    color: var(--bg-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
}

/* Section Features */

.features-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list .text {
    line-height: 1.71;
}

/* Section OurTeam */

.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list .text {
    font-size: 16px;
    line-height: 1.19px;
}

.team {
    background-color: var(--secondary-bg-color);
}

/* Footer */

.footer {
    background-color: var(--primary-bg-color);

    line-height: 1.71;
}

.footer-list .address {
    color: var(--bg-white-color);
}

.footer-list .contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-list .address:hover,
.footer-list .address:focus {
    color: var(--accent-color);
}

.footer-list .contacts:hover,
.footer-list .contacts:focus {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .text {
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-button .button:hover,
.portfolio-button .button:focus {
    background-color: var(--accent-color);
    color: var(--bg-white-color);
}

/* Button */

.button {
    background-color: var(--bg-white-color);
    color: var(--title-text-color);
    cursor: pointer;

    font-size: 16px;
    text-align: center;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--bg-white-color);

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button.secondary {
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

/* Active Page */
.site-nav .current {
    color: var(--accent-color);
}

/* Active button */
.portfolio-button .current {
    background-color: var(--accent-color);
    color: var(--bg-white-color);
}
